@font-face { font-family: Ubuntu; src: url('fonts/ubuntu/Ubuntu-Light.ttf'); }
@font-face { font-family: Ubuntu; font-weight: bold; src: url('fonts/ubuntu/Ubuntu-Bold.ttf'); }
body {
	min-width: 320px;
	width: 100%;
	height: 460px;
	margin: 0 auto;
	font-family: Ubuntu, Arial, Helvetica, sans-serif;
	color: #E6E0DB;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smooth:auto;
	font-size: 16px;
	background-color: #232323;
}
div.page > div.post-row {
	border-bottom: 1px solid white;
}

div.page > div.post-row > p.title {
	cursor: pointer;
}

div.page  p.title {
	font-weight: bold;
}
div.page  p{
	margin: 8px 0px 8px 0px;
}
div.page  p.title > span{
	color: #CB7832;
	font-weight: normal;
}

div.page  p > span.user{
	color: #6C9CBD;
}
div.page  p > span.points{
	color: #A4C260;
}

div.comment{
	color: #E6E0DB !important;
	border-bottom: 1px solid white;
}

ul.menu {
	padding: 4px;
	margin-left: 0;
	display: inline;
	} 

ul.menu li {
	margin-left: 0;
	padding: 3px 15px;
	list-style: none;
	display: inline;
	}
	
		
ul.menu li.first {
	margin-left: 0;
	border-left: none;
	list-style: none;
	display: inline;
	}

/*.description {
	padding: 0px 10px 0px 10px;
}

h1 {
	padding: 0px 10px 0px 10px;
}

h2 {
	display: block;
	min-height: 44px;
	font:500 24px/44px tahoma, arial, helvetica;
	background-color: #ccc;
	text-shadow: 0 0 0 #fff;
	letter-spacing:1px;
	border-bottom: 1px solid;
	padding: 0px 10px 0px 10px;
	background:#008299 url(../img/bg-cross-hatching.png) repeat top left;
	border-top:1px solid #016375;
	border-bottom:1px solid #016375;
	color:#fff;
	font-weight:normal;
}*/

a {
	color: white;
}
